<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Voler Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">

    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/images/icon.png}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<div id="app"><!--Main content-->
    <span th:replace="fragments/sidebar :: sidebar"></span>
    <div id="main"><!--Content id-->
        <span th:replace="fragments/header :: header"></span>
        <div class="main-content container-fluid" style="background-color: white ;" layout:fragment="content"><!--dynamic content-->
            <h3>Order Detail</h3><br>
            <div class="row">
                <div class="col col-4">
                    <label style="font-weight: bold;margin-bottom:-5px;">Nomor Pesanan</label>
                    <p th:text="${order.orderNumber}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Tanggal</label>
                    <p th:text="${order.date}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Total</label>
                    <p th:text="'Rp. '+${order.totalPriceStr}"></p>
                    <h5>Customer</h5>
                    <label style="font-weight: bold;margin-bottom:-5px;">Email</label>
                    <p th:text="${order.customer.email}"></p>
                    <label style="font-weight: bold;margin-bottom:-5px;">Name</label>
                    <p th:text="${order.customer.name}"></p>
                    <h5>Payment</h5>
                    <label style="font-weight: bold;margin-bottom:-5px;">Nama</label>
                    <p th:text="${order.payment.name}"></p>
                    <label style="font-weight: bold;margin-bottom:-5px;">Nama Bank</label>
                    <p th:text="${order.payment.bankName}"></p>
                    <label style="font-weight: bold;margin-bottom:-5px;">Rekening</label>
                    <p th:text="${order.payment.bankNumber}"></p>
                    <label style="font-weight: bold;margin-bottom:-5px;">Rekening Tujuan</label>
                    <p th:text="${order.payment.account.bank}+' '+ ${order.payment.account.number}"></p>

                </div>
                <div class="col col-8 text-center">
                    <img th:src="${order.payment.imageUrlStr}" alt="" width="650"
                         style="margin: auto;display: block;">
                    <h4 style="margin-top:40px;">Update Status Pembayaran</h4>
                    <form th:action="'../confirm/'+${order.id}"style="margin: auto;display: block;" method="post">
                        <a href="/cms/order-confirm"><input class="btn btn-info"type="button" value="Kembali"></a>
                        <input onclick="return confirm('Apakah anda yakin untuk konfirmasi pesanan ini ?');" class="btn btn-success" type="submit" value="Berhasil" name="status">
                        <input onclick="return confirm('Apakah anda yakin untuk menolak pesanan ini ?')"  class="btn btn-danger" type="submit" value="Gagal" name="status">
                    </form>
                </div>
            </div>


        </div>
        <span th:replace="fragments/footer :: footer"></span>
    </div>
</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<script th:src="@{/js/main.js}"></script>
</body>
</html>