<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Shonic Admin Dashboard</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/Chart.min.css}">

    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/images/icon.png}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
<div id="app"><!--Main content-->
    <span th:replace="fragments/sidebar :: sidebar"></span>
    <div id="main"><!--Content id-->
        <span th:replace="fragments/header :: header"></span>
        <div class="main-content container-fluid" style="background-color: white ;" layout:fragment="content"><!--dynamic content-->
            <h3>Order Detail</h3><br>
            <div class="row">
                <div class="col col-6">
                    <label style="font-weight: bold;margin-bottom:-5px;">Nomor Pesanan</label>
                    <p th:text="${order.orderNumber}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Tanggal</label>
                    <p th:text="${order.date}"></p>

                    <h5>Customer</h5>
                    <label style="font-weight: bold;margin-bottom:-5px;">Email</label>
                    <p th:text="${order.customer.email}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Nama</label>
                    <p th:text="${order.customer.name}"></p>

                    <h5>Pengiriman</h5>
                    <label style="font-weight: bold;margin-bottom:-5px;">Layanan Pengiriman</label>
                    <p th:text="${order.courierCode}+' '+${order.courierService}"></p>
                    <label style="font-weight: bold;margin-bottom:-5px;">Berat Total</label>
                    <p th:text="${order.weight}+' gram'"></p>

                </div>
                <div class="col col-6">
                    <h5>Alamat Pengiriman</h5>
                    <label style="font-weight: bold;margin-bottom:-5px;">Nama Penerima</label>
                    <p th:text="${order.address.name}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Handphone</label>
                    <p th:text="${order.address.phone}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Rincian Alamat</label>
                    <p th:text="${order.address.detail}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Kecamatan</label>
                    <p th:text="${order.address.kecamatan}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Kabupaten/Kota</label>
                    <p th:text="${order.address.city.name}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Provinsi</label>
                    <p th:text="${order.address.province.name}"></p>

                    <label style="font-weight: bold;margin-bottom:-5px;">Kode Pos</label>
                    <p th:text="${order.address.postalCode}"></p>
                </div>

            </div>
            <div class="row">
                <div class="col col-12">
                    <h4>Produk</h4>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Jumlah</th>
                            <th scope="col">Harga</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="1"/>
                            <td th:text="${order.product.name}" />
                            <td th:text="${order.product.qty}" />
                            <td th:text="${order.product.price}" />
                            <td th:text="${order.product.discount}+'%'" />
                            <td th:text="${order.subtotal}" />
                        </tr>
                        <tr>
                            <td>Note</td>
                            <td th:text="${order.note}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <div class="row">
                    <div class="col col-6">
                        <label style="font-weight: bold;margin-bottom:-5px;">Subtotal</label>
                        <p th:text="${order.subtotal}"></p>
                        <label style="font-weight: bold;margin-bottom:-5px;">Ongkos Kirim</label>
                        <p th:text="${order.cost}"></p>
                        <label style="font-weight: bold;margin-bottom:-5px;">Total</label>
                        <p th:text="'Rp. '+${order.totalPriceStr}"></p>
                    </div>
                    <div class="col col-6">
                        <form th:action="'../packing/'+${order.id}" method="post">
                            <label for="resi">Nomor Resi Pengiriman</label>
                            <div class="position-relative">
                                <input type="text" class="form-control" id="resi" name="resi" required>

                            </div>
                            <br>

                            <input class="btn btn-info" type="submit" value="Kirim">
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <span th:replace="fragments/footer :: footer"></span>
    </div>
</div>
<script th:src="@{/js/feather.min.js}"></script>
<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/apexcharts.min.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<script th:src="@{/js/main.js}"></script>
</body>
</html>