<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">SpringBoot AdminLTE</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- Bootstrap 3.3.6 -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <!-- Font Awesome -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/extra/css/font-awesome.min.css}" />
    <!-- Ionicons -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/extra/css/ionicons.min.css}" />
    <!-- Theme style -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}"/>
    <!-- iCheck -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/plugins/iCheck/flat/blue.css}" />
    <!-- Morris chart -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@/plugins/morris/morris.css}"/>
    <!-- jvectormap -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.css}"/>
    <!-- Date Picker -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}"/>
    <!-- Daterange picker -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker-bs3.css}"/>
    <!-- bootstrap wysihtml5 - text editor -->
    <link th:rel="stylesheet" rel="stylesheet" th:href="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}"/>

    <link th:rel="stylesheet" rel="stylesheet" th:th:href="@{/plugins/custom-datatable/DT_bootstrap.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <div th:replace="/fragments/header"></div>
    </header>
    <!-- Left side column. contains the logo and sidebar -->

    <aside class="main-sidebar">
        <div th:replace="/fragments/main-sidebar"></div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header" layout:fragment="header"></section>

        <!-- Main content -->
        <section class="content">

            <div layout:fragment="content"></div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.6
        </div>
        <strong>Copyright &copy; 2021.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <!--<aside class="control-sidebar control-sidebar-dark">
        <div th:replace="/fragments/control-sidebar"></div>
    </aside>-->
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.0 -->
<script src="/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/extra/js/1.11.4_jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/extra/js/2.1.0_raphael-min.js"></script>
<script src="/plugins/morris/morris.min.js"></script>
<script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/plugins/knob/jquery.knob.js"></script>
<script src="/extra/js/2.11.2_moment.min.js"></script>
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/plugins/validator.min.js"></script>
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/plugins/fastclick/fastclick.js"></script>
<script src="/dist/js/app.min.js"></script>
<script src="/dist/js/demo.js"></script>


<script type="text/javascript" src="/plugins/custom-datatable/datatable.js"></script>
<script type="text/javascript" src="/plugins/custom-datatable/datatables.min.js"></script>
<script type="text/javascript" src="/plugins/custom-datatable/DT_bootstrap.js"></script>


<th:block layout:fragment="script"></th:block>

</body>
</html>